.containertv {
    margin: auto;
    max-width: 1200px;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    width: 90%;
}
.containertv .desing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.containertv .desing .vipcirc {
    border-radius: 90px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr;
    border: solid 10px #173A56;
    min-height: 250px;
}
.containertv .desing .vipcirc img {
    width: 60%;
    margin: auto;
}
.containertv .desing .vipcirc button {
    width: 70%;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
    font-weight: 1rem;
    font-size: 1.2rem;
    border: double;
    background-color:#173A56;
    text-transform: uppercase;
    transition: 0.5s;
}
.containertv .desing .vipcirc button:hover {
    cursor: pointer;
    background: rgb(50, 50, 50); color:#fff;
}
.containertv .titulo {
    font-family: "Roboto", sans-serif;
    font-size: 27.5px;
    margin-bottom: 40px;
}

.dmcaenl {
    font-size: 1rem;
    color: #3bace9;
    font-weight: bold;
}
.dmcaenl:hover {
    color: #1e96d6;
}

@media (max-width: 900px) {
    .containertv .desing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 200px) {
    .containertv .desing {
        grid-template-columns: 1fr 1fr;
    }
    .containertv .desing .vipcirc img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media (max-width: 500px) {
    .containertv .desing {
        grid-template-columns: 1fr;
    }
}
@import_url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import_url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    margin: 0px;
    padding: 0px;
    background: #fff; color:#000;
}
* {
    text-decoration: none;
}
.principal-por {
    width: 100%;
    height: 410px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
}
/*Item de la portada principal*/
.principal-por .container-item {
    z-index: 9;
    max-width: 700px;
    width: 90%;
    height: 370px;

    font-family: "Fredoka One", cursive;
}
.principal-por .container-item .titulo {
    font-size: 3rem;
    margin: 0px;
    color: #000;
    background-color: #fff;
}

.principal-por .container-item .descripcion {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    background: #fff; color: rgb(50, 50, 50);

}
/*canales en vivos*/
.containercanales {
    min-height: 100px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -150px;
    box-shadow: 0px 0px 10px rgba(175, 174, 174, 0.2);
        background: rgb(50, 50, 50); color: #fff;

}

.containercanales .titulo {
    font-family: "Fredoka One", cursive;

    padding: 30px;
    font-size: 1.9rem;
    margin: 0px;
}

.containercanales .channelenvivo {
}

.containercanales
.channelenvivo
.content-texto
.titulo {
    margin: 0px;
    padding: 0px;
    color: #000;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
}
/*END canales en vivos*/

@media (max-width: 500px) {
    .principal-por .container-item .titulo {
        font-size: 2rem;
        margin: 0px;
    }

    .principal-por .container-item .descripcion {
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
    }
    .containercanales .titulo {
        font-size: 1.2rem;
    }
    .principal-por {
        height: 360px;
    }

    .containercanales
    .channelenvivo
    .titulo {
        font-size: 1rem;
    }
}
